<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
      <crystalReportViewer>
        <add key="ResourceUri" value="../crystalreportviewers13"/>
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SolutionConnectionStringHRIS_SMC" connectionString="Data Source=NAIMULISLAM\SQLSERVER2014;Initial Catalog=HRIS_SMC_DB_AAAkkkk_21_sep2;Integrated Security=true;  " providerName="System.Data.SqlClient" />
    <add name="SolutionConnectionStringHRDB" connectionString="Data Source=NAIMULISLAM\SQLSERVER2014;Initial Catalog=HRIS_SMC_DB_AAAkkkk_21_sep2;Integrated Security=true;  " providerName="System.Data.SqlClient" />-->
    <!--<add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HRIS_SMC_DB;integrated security=false;  User ID=sa; Password=sa1234;   MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SolutionConnectionStringHRIS_SMC" connectionString="Data Source=DESKTOP-MGI0A2H;Initial Catalog=HRIS_SMC_DB;Integrated Security=false;  User ID=sa; Password=sa1234 " providerName="System.Data.SqlClient" />
    <add name="SolutionConnectionStringHRDB" connectionString="Data Source=DESKTOP-MGI0A2H;Initial Catalog=HRIS_SMC_DB;Integrated Security=false;  User ID=sa; Password=sa1234 " providerName="System.Data.SqlClient" />-->
    <!--<add name="SolutionConnectionStringHRIS_SMC" connectionString="Data Source=192.168.110.50\sa;Initial Catalog=HRIS_SMC_DB;Integrated Security=false;  User ID=sa; Password=sa1234   " providerName="System.Data.SqlClient" />
    
    <add name="SolutionConnectionStringHRDB" connectionString="Data Source=192.168.110.50\sa;Initial Catalog=HRIS_SMC_DB;Integrated Security=false;  User ID=sa; Password=sa1234 " providerName="System.Data.SqlClient" />
    
    <add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.110.50\sa;initial catalog=HRIS_SMC_DB;integrated security=false;  User ID=sa; Password=sa1234; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SolutionConnectionStringHRIS_SMC" connectionString="Data Source=NASA-PC\MSSQLSERVER2019;Initial Catalog=HRIS_SMC_DB;Integrated Security=false;  User ID=sa; Password=sa1234;" providerName="System.Data.SqlClient"/>
    <add name="SolutionConnectionStringHRDB" connectionString="Data Source=NASA-PC\MSSQLSERVER2019;Initial Catalog=HRIS_SMC_DB;Integrated Security=false;  User ID=sa; Password=sa1234;" providerName="System.Data.SqlClient"/>
    <add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NASA-PC\MSSQLSERVER2019;initial catalog=HRIS_SMC_DB;integrated security=false;  User ID=sa; Password=sa1234; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HRIS_SMC_DBEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NASA-PC\MSSQLSERVER2019;initial catalog=HRIS_SMC_DB;integrated security=False;user id=sa;password=sa1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HRIS_SMC_DB_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NASA-PC\MSSQLSERVER2019;initial catalog=HRIS_SMC_DB;integrated security=False;user id=sa;password=sa1234;      multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="SolutionConnectionStringHRIS_SMC" connectionString="Data Source=192.168.110.50\sa;Initial Catalog=HRIS_SMC_DB;Integrated Security=false;  User ID=sa; Password=sa1234" providerName="System.Data.SqlClient" />
    
    <add name="SolutionConnectionStringHRDB" connectionString="Data Source=192.168.110.50\sa;Initial Catalog=HRIS_SMC_DB;Integrated Security=false;  User ID=sa; Password=sa1234 " providerName="System.Data.SqlClient" />
    
    <add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.110.50\sa;initial catalog=HRIS_SMC_DB;integrated security=false;  User ID=sa; Password=sa1234; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SolutionConnectionStringHRIS_SMC" connectionString="Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkk_Test;Integrated Security=false;  User ID=sa; Password=sa1234" providerName="System.Data.SqlClient" />
    <add name="SolutionConnectionStringHRDB" connectionString="Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkk_Test;Integrated Security=false;  User ID=sa; Password=sa1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="SolutionConnectionStringHRIS_SMC" connectionString="Data Source=95.211.159.93\SQLSERVER2014;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;  User ID=sa; Password=CSTL**10;" providerName="System.Data.SqlClient" />
    <add name="SolutionConnectionStringHRDB" connectionString="Data Source=95.211.159.93\SQLSERVER2014;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;  User ID=sa; Password=CSTL**10;" providerName="System.Data.SqlClient" />
    <add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=95.211.159.93\SQLSERVER2014;initial catalog=HRIS_SMC_DB_AAAkkkkPlace;integrated security=false;  User ID=sa; Password=CSTL**10; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SolutionConnectionStringHRIS_SMC" connectionString="Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;  User ID=sa; Password=sa1234#" providerName="System.Data.SqlClient" />
    <add name="SolutionConnectionStringHRDB" connectionString="Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;  User ID=sa; Password=sa1234#" providerName="System.Data.SqlClient" />
    <add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HRIS_SMC_DB_AAAkkkkPlace;integrated security=false;  User ID=sa; Password=sa1234# MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;  User ID=sa; Password=sa1234#;  MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkk_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;    User ID=sa; Password=sa1234#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkk_21_sep_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;    User ID=sa; Password=sa1234#;   multipleactiveresultsets=false;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkkEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HRIS_SMC_DB_AAAkkkkPlace;integrated security=False;user id=sa;password=sa1234#;multipleactiveresultsets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;  User ID=sa; Password=sa1234;  MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkk_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;    User ID=sa; Password=sa1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkk_21_sep_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=false;    User ID=sa; Password=sa1234;   multipleactiveresultsets=false;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkkEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HRIS_SMC_DB_AAAkkkkPlace;integrated security=False;user id=sa;password=sa1234;multipleactiveresultsets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-MGI0A2H;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=true;    MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkk_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-MGI0A2H;Initial Catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=true;    multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkk_21_sep_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MGI0A2H;initial catalog=HRIS_SMC_DB_AAAkkkkPlace;Integrated Security=true;      multipleactiveresultsets=false;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkkEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MGI0A2H;initial catalog=HRIS_SMC_DB_AAAkkkkPlace;integrated security=true; multipleactiveresultsets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HRIS_SMCEntities" connectionString="metadata=res://*/HRIS_DAO_EF.HRDBModel.csdl|res://*/HRIS_DAO_EF.HRDBModel.ssdl|res://*/HRIS_DAO_EF.HRDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkk_Test;Integrated Security=false;  User ID=sa; Password=sa1234;  MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkk_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HRIS_SMC_DB_AAAkkkk_Test;Integrated Security=false;    User ID=sa; Password=sa1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkk_21_sep_NewEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HRIS_SMC_DB_AAAkkkk_Test;Integrated Security=false;    User ID=sa; Password=sa1234;   multipleactiveresultsets=false;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRIS_SMC_DB_AAAkkkkEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HRIS_SMC_DB_AAAkkkk_Test;integrated security=False;user id=sa;password=sa1234;multipleactiveresultsets=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
	  
		   <customErrors mode="On" defaultRedirect="Default.aspx">
      <error statusCode="404" redirect="Default.aspx"/>
    </customErrors>

		  
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="Json"/>
      </protocols>
    </webServices>
    <httpRuntime targetFramework="4.5" executionTimeout="9999" maxRequestLength="2097151" maxUrlLength="65536" requestPathInvalidCharacters="" requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" protection="All" timeout="120000" path="/"/>
    </authentication>
    <!--<authentication mode="Forms">
      <forms loginUrl="Default.aspx" protection="All" timeout="2880" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>-->
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <!--<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" timeout="120000"/>
    <!-- <sessionState mode="StateServer" timeout="120000"/> -->
    <!--<providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>-->
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,AjaxControlToolkit"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <caching enabled="false"/>
    <httpRedirect enabled="false" destination="http://hris.smc-bd.org" exactDestination="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="30000" maxUrl="10000" maxAllowedContentLength="104857600"/>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".rar" allowed="false"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 1e6a470b-f4b2-4908-bcde-ef8c11980036-->
